<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <style>
        body{
            font-size: 18px;
            line-height: 24px;
        }
        .name{
            font-weight: bold;
        }
        .title{
            text-align: center;
            font-size: 20px;
        }
        .university-name{
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1 class="title">Ma'lumotnoma</h1>
    <p> Ushbu ma'lumotnoma
        <span th:text="${universityName}" class="university-name"></span> tomonidan,
        <span th:text="${name}" class="name"></span> ning bizning institutda
        <span th:text="${academicYear}"></span>da
        <span th:text="${facultyName}"></span> fakultetida
        <span th:text="${groupName}"></span> guruhida
        tahsil olayotganligini tegishli joyga tasdiqlash uchun berildi.
    </p>
    <p>Ma'lumotnoma haqiqiy! Malumotnoma yaratilgan sana: <span th:text="${date}"></span></p>
</body>
</html>
